*
*~
!*/

!.emacs.d/init.el
!.emacs.d/early-init.el
!.emacs.d/config/config.org
!.tmux.conf
!.zshrc
!nvim/init.lua
!nvim/lua/**
!nvim/stylua.toml
!nvim/lazyvim.json
!nvim/.neoconf.json
!nvim/.gitignore
!Microsoft.PowerShell_profile.ps1
!starship.toml

